.box{
    margin: 10px;
    position: absolute;
    background-color:#9AA4B0;
    width:  95%;
    height: 500px;
    left: 49.25%;
    right: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
}

.box h1 {
    margin: 50px;
    font-size: 60px;
}

.box p{
    margin: 50px;
    max-width: 800px;
    font-size: 25px;
}